/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

/* ... your code here ... */


/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

.header {
  background-color: var(--border-color);  
  display: flex;                           /*Gleichmäßige Verteilung von Elementen*/
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__image {
  width: 40px;        /*Logo*/
  height: 40px;
}

.header__title {
  font-size: 24px;
}


/* ### TODO ### Styles for Main Component */

.main {
  display: flex;
  flex-wrap: wrap;              /*Umbruch der gleichmäßigen Verteilung*/  
  gap: 30px;                    /* "Lücke" nach rechts*/
  padding: 30px;                /* "Abstandsrahmen" innen*/        
}

/* ### TODO ### Styles for Tagging component */

.main__tagging {
  display: flex;
  flex-direction: column;       /* Verteilung von oben nach unten*/
  flex: 0.175;
  min-width: 300px;             /*Minimale und Maximale Größenanpassungen für verschieden Bildschirme*/
  max-width: 600px;             /*s.o.*/
  margin: 30px;                 /* "Abstandsrahmen" außen*/
  padding: 30px;                /* "Abstandsrahmen" innen*/
  
}

.main__tagging legend {
  margin-left: 25px;
}

.main__tagging h2 {
  margin-bottom: 10px;
}

.main__tagging label {
  display: block;
  font-size: 16px;
  color: var(--gray-color);
  margin-bottom: 5px;
  margin-left: 15px;
  padding: 10px ;
}

.main__tagging input {
  padding: 10px;
  margin-left: 25px ;
}

.main__tagging button {
  display: block;  
  width: 78.5%;                  /* Breite z.B. Button*/
  margin: 10px;          /*Abstand-unten*/
  margin-left: 25px;
  padding: 10px;                /*Input/Label/Button Abstand innen*/
  font-size: 16px;
  border: 1px solid var(--border-color);


}

/* ### TODO ### Styles for Discovery component */



.main__discovery h2 {
  margin-bottom: 0px;
  margin-top: 53px;
}

.main__discovery label {
  display: block;
  font-size: 16px;
  color: var(--gray-color);
  margin-bottom: 5px;
  margin-left: 15px;
  padding: 10px ;
}

.main__discovery input {
  padding: 10px;
  margin-left: 20px;
}

.main__discovery button {
  display: block;
  width: 24%;
  margin: 10px;
  margin-left: 19px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  color: var(--border-color);
}



.discovery__wrapper {
  display: flex;
  gap: 25px;
}
.discovery__taglist {
  flex: 1;
  padding: 10px;
}

.discovery__taglist li {
  padding: 20px;
  background-color: var(--border-color);
  color: var(--link-color);
  min-width: 300px;
  max-width: 600px;
}
 
.discovery__search { 
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 10px ;
}

.discovery__search legend {
  margin-left: 25px;
}

.discovery__map {
  
  margin: 10px;
  margin-right: 25px;
  min-width: 300px;
  max-width: 600px;
  gap: 5px;
}



/* ### TODO ### Styles for Footer Component */

.footer {
  background-color: var(--border-color);
  color: black;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}


/* ### TODO ### Media Queries */

@media (max-width: 600px) {     /*Für Bildschirme kleiner als 600px*/
  .main {
    flex-direction: column;
    align-items: center;
  }

  .main__tagging {  /*Rand auf kleineren Bildschirmen*/
    width: 90%;
    min-width: 300px;
  }
  .main__discovery { /*Verhindert kleine, unlesbare Inhalte*/
    width: 90%;
    min-width: 300px;
  }

  .discovery__wrapper {            /*Ergebnisse werden untereinander angezeigt*/
    flex-direction: column;
  }
}