/*
  File origin: VS1LAB A1b  

  CSS style is BEM. Classes used for CSS, IDs for JavaScript querying (future use).
  CSS variables used for clarity and themability (e.g. through SSR). 
  Inherited box sizing used for ease of including 3rd party content-box components.
*/

/* Global styling */

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  /* This approach prevents issues with 3rd party content-box components */
  box-sizing: inherit;
}


/* Variables (example: see declaration for "a" below) */

:root {
  --link-color: #00B7FF;
  --background-color: #efefef;
  --border-color: #cdcdcd;
  --gray-color: #666;
}


/* HTML element styles */

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

/* ### TODO ### Styles for other HTML elements */

.header {
  background-color: var(--link-color);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header__image {
  width: 40px;
  height: 40px;
}

.header__title {
  font-size: 24px;
}

.header__navigation a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

/* Grid styles (no changes required) */

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.col-1 {
  width: calc(8.33% - 1rem);
}

.col-2 {
  width: calc(16.66% - 1rem);
}

.col-3 {
  width: calc(25% - 1rem);
}

.col-4 {
  width: calc(33.33% - 1rem);
}

.col-5 {
  width: calc(41.66% - 1rem);
}

.col-6 {
  width: calc(50% - 1rem);
}

.col-7 {
  width: calc(58.33% - 1rem);
}

.col-8 {
  width: calc(66.66% - 1rem);
}

.col-9 {
  width: calc(75% - 1rem);
}

.col-10 {
  width: calc(83.33% - 1rem);
}

.col-11 {
  width: calc(91.66% - 1rem);
}

.col-12 {
  width: calc(100% - 1rem);
}


/* ### TODO ### Styles for Header Component */

/* ... your code here ... */


/* ### TODO ### Styles for Main Component */

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 40px;
}


/* ### TODO ### Styles for Tagging component */

.main_tagging {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  margin: 20px ;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #f7f7f7;
}

.main_tagging label,
.main_tagging input,
.main_tagging button {
  display: block;
  width: calc(100% - 20%);
  margin-bottom: 20px;
  padding: 10px;
}

input[type= "text"] {
  padding: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}


/* ### TODO ### Styles for Discovery component */

.main_discovery {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  margin: 10px 20px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #f7f7f7;
}

.discovery_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.discovery_taglist {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.discovery_map {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
#mapView {
  display: inline-block;
  margin-right: 10px;
  height: auto;
}

.discovery_map span {
  display: inline-block;
  font-weight: bold;
}

/* ### TODO ### Styles for Footer Component */

.footer {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}


/* ### TODO ### Media Queries */

@media (max-width: 600px) {
.main{
  flex-direction: column;
  align-items: center;
}

.discovery_wrapper {
  flex-direction: column;
}

.main_tagging,
.main_discovery {
  width: 90%;
  min-width: 300px;
}
}